SandEscapesUn/Assets/Proxy Games/Stylized Nature Kit Lite/Misc/HDRI.hdr

SandEscapesUn/SandEscapeGame/SandEscapesUn_Data/sharedassets1.assets
SandEscapesUn/Assets/POLY_Soviet_city/DemoScene/demo_bridge/LightingData.asset
SandEscapesUn/Assets/POLY_Soviet_city/DemoScene/demo_bridge/LightingData.asset.meta
